@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


@font-face {
  font-family: 'Barbaro';
  src: url('./assets/fonts/barbaro-punta.ttf')
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply  bg-[#222222] text-white w-auto px-[2rem] rounded-xl   h-[3rem] transition-all;
}

.btn-secondary {
  @apply px-[2rem] w-auto rounded-xl border-solid border-[1px] border-[#222222] h-[3rem] text-[#222222] transition-all;
}

.btn-disabled {
  @apply bg-gray-300 text-gray-200 py-2 px-4 rounded;
}


.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}

.btn-danger-disabled {
  @apply bg-gray-300 text-gray-200 py-2 px-4;
}

