@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


@font-face {
  font-family: 'Barbaro';
  src: url('./assets/fonts/barbaro-punta.ttf')
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-primary-small {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-[5px] px-[10px]  rounded transition-all text-sm;
}


.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-secondary-small {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-[5px] px-[10px] rounded transition-all text-sm;
}

.btn-disabled {
  @apply bg-gray-300 text-gray-200 py-2 px-4 rounded;
}


.btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white py-2 px-4 transition-all rounded;
}

.btn-danger-disabled {
  @apply bg-gray-300 text-gray-200 py-2 px-4;
}

